core/config*.php
classes/curl_cookie.txt
routes.json
aircraft.json
test.php
core/logs/*
.development
.env
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions